// Fonts Config
// ============


$font-formats: 'woff2' 'woff' 'ttf';


// TypeKit Font
// ------------
/// A font imported from typekit.
///
/// - call the specimen preview directly
/// - give a font-name and parenthetical list of variants on the first line
/// - suppy additional html head as a nested block
///
/// @group fonts
/// @font-specimen 'typekit' (regular, italic, bold, bold italic) -
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
$typekit-font: (
  'name': 'freight-text-pro',
  'stack': (fantasy, fantasy),
  'source': 'https://typekit.com/fonts/freight-text',
);

@include add-font('typekit', $typekit-font);
@include herman-add('font', 'typekit', $typekit-font);


// Google Font
// -----------
/// A font imported from google fonts.
///
/// - call the specimen preview directly
/// - give a font-name and parenthetical list of variants on the first line
/// - suppy additional html head as a nested block
///
/// @group fonts
/// @font-specimen 'google' (regular, bold, italic, bold italic) -
///   <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">
$google-font: (
  'name': 'Modak',
  'source': 'https://fonts.google.com/specimen/Modak',
  'stack': (fantasy, fantasy),
);

@include add-font('google', $google-font);
@include herman-add('font', 'google', $google-font);


// Google Font
// -----------
/// A locally-hosted font.
///
/// - call the specimen preview directly
/// - give a braketed list of formats, and a font-name on the first line
/// - (could also override variants shown, but it would be rare)
/// - no additional head
/// - add a font-path global config option, similar to sass path options
///
/// @group fonts
/// @font-specimen {woff2, woff, ttf} 'local'
$local-font: (
  'name': 'rockingham',
  'regular': 'rockingham/rockingham-regular-webfont',
  'bold': 'rockingham/rockingham-bold-webfont',
  'italic': 'rockingham/rockingham-italic-webfont',
  'bold' 'italic': 'rockingham/rockingham-bolditalic-webfont',
  'stack': (fantasy, fantasy),
);

@include add-font('local', $local-font);
@include herman-add('font', 'local', $local-font);
